/*
 * @Author: Xuhaichen 
 * @Date: 2019-08-17 21:35:02 
 * @Last Modified by: Xuhaichen
 * @Last Modified time: 2019-08-18 23:49:54
 */
@charset "utf-8";

/* CSS Document */
* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }
body{
	font-size: 100%;
    font-size: 16px;
    font-size: 1em;
	max-width:100%;
	min-width:320px; 
	margin:auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
img:not([src*="/"]){display:none;}
img {
max-width: 100%;
height: auto;
}


a img { border: 0; }

ul,li{list-style: none;}

.container {
	position:relative;
	width:100%;
	height:auto;
	margin:auto;
	min-height:100%;
}
/* header start */
#header {
	position:relative;
	width: 100%;
	height:auto;
}
.headerBox{
	position: relative;
	width: 100%;
	height: 930px;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	
}

.headerNav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 160px;
	background-image: url(../images/nav2.png);
	z-index:9;
}
.headerNavWidthBox{
	width: 1280px;
	height: 160px;
	margin: 0 auto;

}
.headerNavLeftBox{
	float: left;
	width: 120px;
	height: 160px;

}
.headerNavLeftLogo{
	float: left;
	width: 116px;
	height: 160px;
}
.headerNavRightBox{
	float: left;
	width: 1160px;
	height: 110px;
	padding-top: 50px;
}
.headerNavRightTop{
	width:100%;
	height: 30px;
	margin-bottom: 20px;

}
.headerNavRightTop a{
	float: right;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	border-radius: 17px;
	/* border: 2px solid #E05E9E; */
	text-decoration: none;
	margin-left: 10px;
	background-color:#E05E9E;

}
.headerNavRightTop a:hover{
	color: #E05E9E;
	background-color: #ffffff;
}

.headerNavRightBottom{
	width: 100%;
	height: 15px;
}
.headerNavRightBottom li{
	float: right;
	width: auto;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	margin-left: 56px;

}
.headerNavRightBottom li a{
	color: #ffffff;
	text-decoration: none;

}
.headerNavRightBottom li a:hover{
	text-decoration: underline;
}

/* 第二种导航栏样式（字体黑色） */
.headerNavRightBottomV2 li{
	float: right;
	width: auto;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000000;
	margin-left: 56px;

}
.headerNavRightBottomV2 li a{
	color: #000000;
	text-decoration: none;

}
.headerNavRightBottomV2 li a:hover{
	text-decoration: underline;
}


.headerNavFixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background-image: url(../images/bg_w.png);
	z-index: 999;
	box-shadow: 0 0 15px #333333;
	display: none;
}
.headerNavFixedWidthBox{
	width: 1280px;
	height: 90px;
	margin: 0 auto;
}
.headerNavFixedLeftBox{
	float: left;
	width: 190px;
	height: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.headerNavFixedLeftBoxImg{
	width: 190px;
	height: 60px;
}
.headerNavFixedRightBox{
	float: left;
	width: 1090px;
	height: 65px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.headerNavFixedRightBottom{
	width: 100%;
	height: 15px;
}
.headerNavFixedRightBottom li{
	float: right;
	width: auto;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000000;
	margin-left: 56px;
}
.headerNavFixedRightBottom li a{
	color: #000000;
	text-decoration: none;
}
.headerNavFixedRightBottom li a:hover{
	text-decoration: underline;
}

/* header end */

/* content start */
#content{
	position:relative;
	width:100%;
	height:auto;
}
/* contentLeftFixed start */
.contentLeftFixed{
	position: absolute;
	top:60px;
	left: 10px;
	width: 70px;
	height: 200px;
	z-index: 9;
}
.contentLeftFixedTitle{
	height: 20px;
	width: 100%;
	
	line-height: 20px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #E05E9E;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}
.contentLeftFixedIcon{
	height: auto;
	width: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
.contentLeftFixedIcon li{
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
}
.contentLeftFixedIcon li img{
	cursor: pointer;
}
/* contentLeftFixed end */

/* contentRightFixed start */
.contentRightFixed{
	position: fixed;
	right: 10px;
	bottom: -100px;
	width: 50px;
	height: 50px;
	z-index: 99;
	transform: translateY(50%);


}
.contentRightFixed:hover{
	content: url(../images/Top_hover.png);
	cursor: pointer;
}

/* contentRightFixed end */

.contentBox{
	width:100%;
	height: 2500px;
	background-color: #FAE0E9;
}
.contentNewsBox{
	width:100%;
	height: 580px;
	background-color: #FAE0E9;

}
.contentNewsWidthBox{
	width:1280px;
	height: 425px;
	margin: 0 auto;
	padding-top: 70px;
	
}
.contentNewsModule{
	width: 1230px;
	height: 375px;
	background-color: #ffffff;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	
}

/* 从这边改为上下结构 */
.contentNewsModuleTop{
	width: 100%;
	height: 30px;
	margin-bottom: 25px;
}
.contentNewsModuleLeftTitle{
	float: left;
	height: 30px;
	width: 1180px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 30px;
	color: #E05E9E;

}
.contentNewsModuleRightIcon{
	/* position: absolute;
	top: 5px;
	right: 15px;*/
	float: right;
	width: 33px;
	height: 28px;
	margin-right: 10px;
	background-color: #E05E9E;
	border: 1px solid #E05E9E;
	line-height: 28px;
	font-family: "微软雅黑";
	font-size: 8px;
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
}
.contentNewsModuleRightIcon:hover{
	background-color: #ffffff;
	color: #E05E9E;
	cursor: pointer;
}

.contentNewsModuleBottom{
	width: 100%;
	height: 320px;
}





.contentNewsModuleLeft{
	float: left;
	width: 570px;
	height: 320px;
	margin-right: 30px;
}

.contentNewsModuleLeftImg{
	position: relative;
	width: 570px;
	height: 320px;

}
.contentNewsModuleLeftImgBefore{
	position: absolute;
	left: 0;
	top: 0;
	width: 570px;
	height: 320px;
	background-color: #000000;
	opacity: 0.3;
	z-index: 2;
}
.contentNewsModuleLeftImgBefore:hover{
	opacity: 0;
	cursor: pointer;
}

.contentNewsModuleLeftImgText{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 550px;
	height: 42px;
	padding-left: 20px;
	line-height: 42px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #ffffff;
	background-image: url(../images/bg1.png);
	z-index: 9;
}


.contentNewsModuleRight{
	float: left;
	position: relative;
	width: 630px;
	height: 315px;

	padding-top: 5px;
}


.contentNewsModuleRight li{
	width: 630px;
	height: 25px;
	padding-top: 8px;
	padding-bottom: 11px;
	border-bottom: 1px solid #D7D7D7;
}
/* xiaojing start*/
.containerFontLeftBox{
	float: left;
	width: 90px;
	height: 25px;
	line-height: 25px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000000;

}
.containerHotContentBox{
	float: left;
	width: 73px;
	height: 23px;
	margin-right: 25px;
	line-height: 23px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #fc97b8;
	border:1px solid #fc97b8;
}
.containerHotPurpleContentBox{
	float: left;
	width: 73px;
	height: 23px;
	margin-right: 25px;
	line-height: 23px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #c898f5;
	border:1px solid #c898f5;
}
.containerHotYellowContentBox{
	float: left;
	width: 73px;
	height: 23px;
	margin-right: 25px;
	line-height: 23px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #ff8f00;
	border:1px solid #ff8f00;
}
.containerHotRedContentBox{
	float: left;
	width: 73px;
	height: 23px;
	margin-right: 25px;
	line-height: 23px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #ff2080;
	border:1px solid #ff2080;
}
.containerFontRightBox{
	float: left;
	width: 440px;
	height: 25px;
	line-height: 25px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000000;
}

/* xiaojing end */

.contentVideoBox{
	width: 100%;
	height: 490px;
	background-color: #F7CFDF;

}
.contentVideoWidthBox{
	padding-top: 45px;
	width: 1280px;
	height: 395px;
	margin: 0 auto;

}
.contentVideoBoxLeft{
	position: relative;
	float: left;
	width: 700px;
	height: 395px;
	margin-right: 20px;

}
.contentVideoBoxLeftBefore{
	position: absolute;
	left: 0;
	top: 0;
	width: 700px;
	height: 395px;
	background-color: #000000;
	opacity: 0.3;
	z-index: 2;
}
.contentVideoBoxLeftBefore:hover{
	opacity: 0;
	cursor: pointer;
}


.contentVideoBoxRight{
	position: relative;
	float: left;
	width: 490px;
	height: 365px;

	padding-top: 30px;
	padding-left: 35px;
	padding-right: 35px;
	background-image: url(../images/n_bg3.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;


}
.contentVideoBoxRightIcon{
	position: absolute;
	top: 30px;
	right: 35px;
	height: 30px;
	width: 30px;
}
.contentVideoBoxRightIcon img:hover{
	content: url(../images/Schedule_hover.png);
	cursor: pointer;
}


.contentVideoBoxRightTitle{
	height: 25px;
	width: 100%;
	line-height: 25px;
	font-family: 'Conv_Nexa Light',Sans-Serif;
	font-size: 24px;
	color: #E05E9E;
	margin-bottom: 60px;
	
}
.contentVideoBoxRightContent{
	height: 280px;
	width: 490px;
}
.contentVideoBoxRightContent li{
	height: 40px;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 29px;
	border-bottom: 1px solid #E05E9E;
}
.contentVideoBoxRightContentLeft{
	float: left;
	height: 40px;
	width: 155px;
	line-height: 40px;
	padding-left: 5px;
	font-family: 'Conv_Nexa Light',Sans-Serif;
	font-size: 38px;
	color: #E05E9E;
}
.contentVideoBoxRightContentRight{
	float: left;
	height: 40px;
	width: 330px;
	line-height: 20px;
	
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000000;
}

/* Member Box Start */
.contentMemberBox{
	width:100%;
	height: 1430px;
	background-color: #FAE0E9;
}

.contentMemberBoxTop{
	width: 100%;
	height: 840px;
}
.contentMemberBoxTopWidthBox{
	width: 1280px;
	height: 795px;
	padding-top: 45px;
	margin: 0 auto;
}


.contentMemberBoxTopTitle{
	width: 100%;
	height: 100px;
}

.contentMemberBoxTopTitleMain{
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: 'Conv_Nexa Light',Sans-Serif;
	font-size: 45px;
	color: #E05E9E;
	margin-bottom: 5px;
}
.contentMemberBoxTopTitleSub{
	width: 100%;
	height: 42px;
	line-height: 42px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 42px;
	color: #000000;
	
}

/* Member 的内容部分 */
.contentMemberBoxTopContent{
	width: 100%;
	height: 695px;
}
.contentMemberBoxTopContentLabel{
	height: 60px;
	width: 1235px;
	padding-left: 45px;
}
.contentMemberBoxTopContentLabelText{
	width: 240px;
	height: 40px;
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	background-color: #E05E9E;
}

/* Memeber轮播图样式 */
.contentMemberBoxTopContentCarousel{
	position: relative;
	height: 635px;
	width: 100%;
}
.swiper-button-prev_xuhaichen{
	position: absolute;
	top:240px;
	left: 0;
	width:30px;
	height: 130px;
	background-image: url(../images/per.png);
	background-size:30px 130px;
	background-position: top center;
	background-repeat: no-repeat;
}
.swiper-button-next_xuhaichen{
	position: absolute;
	top:240px;
	right: 0;
	width: 30px;
	height: 130px;
	background-image: url(../images/nex.png);
	background-size:30px 130px;
	background-position: top center;
	background-repeat: no-repeat;
}

.XuhaichenSwiper{
	width: 1190px;
	height: 620px;
}

.contentMemberBoxTopContentCarouselPhotoList{
	width: 1190px;
	height: 620px;
} 
.contentMemberBoxTopContentCarouselPhotoList li:not(:nth-child(6n)){
	margin-right: 10px;
}
.contentMemberBoxTopContentCarouselPhotoList li{
	position: relative;
	float: left;
	width: 190px;
	height: 310px;
}
.contentMemberBoxTopContentCarouselPhotoListImg{
	width: 190px;
	height: 240px;
}
.contentMemberBoxTopContentCarouselPhotoListImgBefore{
	position: absolute;
	left: 0;
	top: 0;
	height: 240px;
	width: 190px;
	background-color: #000000;
	opacity: .3;
	z-index: 99;
	cursor: pointer;
}
.contentMemberBoxTopContentCarouselPhotoListImgBefore:hover{
	opacity: 0;
}

.contentMemberBoxTopContentCarouselPhotoListText{
	height: 50px;
	width: 190px;

}
.contentMemberBoxTopContentCarouselPhotoListTextMain{
	height: 15px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 15px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #E05E9E;


}
.contentMemberBoxTopContentCarouselPhotoListTextSub{
	height: 15px;
	width: 100%;
	padding-bottom: 25px;
	line-height: 15px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #000000;
}
/* .swiper-pagination{
	width: 100%;
	bottom: 0px;
	left: 0;
} */
.swiper-pagination_xuhaichen{
	width: 100%;
	bottom: 0px;
	left: 0;
}

.swiper-pagination_xuhaichen .swiper-pagination-bullet {
	height: 10px;
	width: 10px;
	border-radius: 5px;
	margin:0 5px !important;
	background-color: #ffffff;
	opacity: 1;
}


.swiper-pagination_xuhaichen .swiper-pagination-bullet-active{
	background-color: #E05E9E;
}



/* Member Bottom */
.contentMemberBoxBottom{
	width: 100%;
	height: 590px;
}
.contentMemberBoxBottomWidthBox{
	width: 1280px;
	height: 505px;
	padding-top: 85px;
	margin: 0 auto;
}
.contentMemberBoxBottomLeft{
	position: relative;
	float: left;
	width: 590px;
	height: 390px;
	padding: 20px;
	margin-right:20px; 
	background-color: #ffffff;

}

.contentMemberBoxBottomLeftBefore{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 590px;
	height: 390px;
	background-color: #000000;
	opacity: 0.3;
	z-index: 2;
}
.contentMemberBoxBottomLeftBefore:hover{
	opacity: 0;
	cursor: pointer;
}

.contentMemberBoxBottomRight{
	position: relative;
	float: left;
	width: 590px;
	height: 390px;
	padding: 20px; 
	background-color: #ffffff;
}

.contentMemberBoxBottomRightBefore{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 590px;
	height: 390px;
	background-color: #000000;
	opacity: 0.3;
	z-index: 2;
}
.contentMemberBoxBottomRightBefore:hover{
	opacity: 0;
	cursor: pointer;
}

/* content end */
/* footer start */
#footer{
	position:relative;
	width:100%;
	height:auto;
}
.footerBox{
	width: 100%;
	height: 870px;

}
/* footerTop start */
.footerTopBox{
	width: 100%;
	height: 490px;
	background-color: #F7CFDF;
	border-bottom: 1px solid #FAE0E9
}
.footerTopWidthBox{
	width: 1280px;
	height: 490px;
	margin: 0 auto;

}
.footerTopTitle{
	height: 60px;
	width: 100%;
	padding-top: 70px;
	
	font-family: 'Conv_Nexa Light',Sans-Serif;
	font-size: 45px;
	color: #E05E9E;
	line-height: 60px;
	text-align: center;
	margin-bottom: 40px;
}
.footerTopGroup{
	height: 230px;
	width: 100%;
}
.footerTopGroupTop{
	height: 100px;
	width: 1280px;
	margin-bottom: 30px;

}
.footerTopGroupTop li{
	float: left;
	height: 97px;
	width: 232px;
}
.footerTopGroupTop li:not(:last-child){
	margin-right:30px;
}
.footerTopGroupBottom{
	height: 100px;
	width: 1018px;
	padding-left: 131px;
	padding-right: 131px;

}
.footerTopGroupBottom li{
	float: left;
	height: 97px;
	width: 232px;
}
.footerTopGroupBottom li:not(:last-child){
	margin-right:30px;
}
/* .footerTopGroupBottomImg{
	float: left;
	height: 100px;
	width: 234px;
	margin-right: 28px;
} */

/* footerTop end */

/* footerBottom start */
.footerBottomBox{
	width: 100%;
	height: 380px;
	background-color:#E05E9E;
}
.footerBottomWidthBox{
	width: 1280px;
	height: 380px;
	margin: 0 auto;
}
.footerBottomLeftBox{
	float: left;
	width: 550px;
	height: 295px;
	padding-top: 85px;
}

.footerBottomLeftLogo{
	height: 86px;
	width: 100%;
	margin-bottom: 20px;
}
.footerBottomLeftLogoImg{
	height: 86px;
	width: 64px;
}
.footerBootomLeftText{
	height: auto;
	width: 100%;
}
.footerBootomLeftTextNav{
	height: 15px;
	width: 100%;
	margin-bottom: 10px;
}
.footerBootomLeftTextNav li{
	float: left;
	height: 15px;
	width: auto;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #ffffff;
	line-height: 15px;
	margin-left: 15px;
	padding-right: 12px;
	border-right: 1px solid #ffffff;
}
.footerBootomLeftTextNav li a{
	color: #ffffff;
	text-decoration: none;
}
.footerBootomLeftTextNav li a:hover{
	text-decoration: underline;
}

.footerBootomLeftTextCopyRights{
	height: 15px;
	width: 100%;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #ffffff;
	line-height: 15px;
}

.footerBottomRightBox{
	float: right;
	width: 730px;
	height: 295px;
	
	padding-top: 85px;
}
.footerBottomRightMeun{
	float: right;
	width: 150px;
	height: auto;
	margin-left: 60px;
}
.footerBottomRightMeunTitle{
	height: 14px;
	width: 145px;
	margin-right: 55px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	padding-bottom: 16px;
	border-bottom: 2px solid #ffffff;

	margin-bottom: 20px;
}
.footerBottomRightMeunContent{
	height: auto;
	width: 150px;

}
.footerBottomRightMeunContent li{
	height: 14px;
	width: auto;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #ffffff;
	line-height: 14px;
	margin-bottom: 15px;

}
.footerBottomRightMeunContent li a{
	color: #ffffff;
	text-decoration: none;

}
.footerBottomRightMeunContent li a:hover{
	text-decoration: underline;
}

/* footerBottom end */
/* footer end */



/* Member_list_tangshiqi css start */

.memheadBox {
	width: 100%;
	height: 420px;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url(../images/memberTop.png);
}

.memheadShadow {
	position:absolute;
	top: 0;
	width: 100%;
	height: 210px;
	background-image: url(../images/memberShadow2.png);
}
.memheadBottom{
	position: relative;
	top: 230px;
	width: 1280px;
	height: 80px;
	line-height: 80px;
	font-family: 'Conv_Nexa Light',Sans-Serif;
	font-size: 80px;
	color: #ffffff;
	text-align: center;
	margin:0 auto;
}



.memcontentBox {
	width: 100%;
	height: auto;
	background-color: #fae0e9;
	overflow: hidden;
}

.memcontentLeft {
	position: absolute;
	top: 70px;
	left: 10px;
	width: 100px;
	height: 200px;
	z-index: 9;
}

.memcontentLeftTop {
	float: left;
	width: 70px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	font-family: 'Conv_Nexa Light',Sans-Serif;
	color: #e05e9e;
}

.memcontentLeftBottom {
	float: left;
	margin-top: 20px;
	margin-left: 3px;
	width: 64px;
	height: 160px;
}

.memcontentLeftBottomTop {
	float: left;
	width: 64px;
	height: 64px;
}

.memcontentLeftBottomBottom {
	float: left;
	margin-top: 20px;
	width: 64px;
	height: 64px;
}

.memcontentList {
	width: 1280px;
	height: auto;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 50px;
	overflow: hidden;
}

.memcontentListTop {
	margin-bottom: 25px;
	width: 1280px;
	height: 40px;
}

.memcontentButton1 {
	position: relative;
	float: left;
	margin-right: 15px;
	width: 170px;
	height: 40px;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 40px;
	color: #ffffff;
	text-align: center;
	background-color: #e05e9e;
}

.memcontentButton1Icon {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 20px !important;
	height: 20px;
	line-height: 20px;
}

.memcontentButton2 {
	float: left;
	margin-right: 15px;
	width: 166px;
	height: 36px;
	background-color: #ffffff;
	border: 2px solid #e05e9e;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	color: #e05e9e;
}

.memcontentButton3 {
	float: left;
	width: 166px;
	height: 36px;
	background-color: #ffffff;
	border: 2px solid #e05e9e;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	color: #e05e9e;
}

.memcontentListBottom {
	float: left;
	width: 1280px;
	height: auto;
}

.memcontentListBottom li{
	position: relative;
	float: left;
	width: 305px;
	height: 390px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	overflow: hidden;
}

.memcontentListBottom li:nth-child(4n) {
	margin-right: 0px;
}

.memcontentListBottomSlide {
	position: absolute;
    top: 0;
	left: -305px;
	width: 610px;
    cursor: pointer;
}

.memcontentListBottomSlideLeft {
	float: left;
	width: 305px;
    height: 390px;
}

.memcontentListBottomSlideRight {
	float: left;
	width: 305px;
	height: 390px;
}

/* tab start */
.memcontentBox .tab-wrapper {
	width: 1280px;
	height: auto;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 55px;
	overflow: hidden;
	max-width: 1280px;
}

.memcontentBox .tab-menu {
	margin-bottom: 25px;
	width: 1280px;
	height: 40px;
}

.memcontentBox .tab-menu li {
	position: relative;
	float: left;
	margin-right: 15px;
	width: 166px;
	height: 36px;
	background-color: #ffffff;
	border: 2px solid #e05e9e;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	color: #e05e9e;
	padding: 0;
	opacity: 1;
}

.memcontentBox .tab-menu li.active {
	color: #ffffff;
	background-color: #e05e9e;
}

.memcontentBox .tab-content {
	float: left;
	width: 1280px;
	height: auto;
}

.memcontentBox .tab-content {
	float: left;
	width: 1280px;
	height: auto;
}
/* Member_list_tangshiqi css end */

/* Member_details_dujian css start */
.dj_headerBG{
	position: relative;
	width: 100%;
	height: 160px;
	background-color: #FAE0E9;
}
.dj_headerBox{
	position: relative;
	width: 1280px;
	height: 160px;
	margin:0 auto
}
.dj_contentTop{
	position: relative;
	width: 100%;
	height: 780px;
	background-image: url("../images/dj_contentTopBG.png");
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
}
.dj_contentTopBox{
	position: relative;
	width: 1280px;
	height: 780px;
	margin:0 auto
}
.dj_contentTopMember{
	position: relative;
	float: left;
	padding-top: 55px;
	padding-bottom: 20px;
	width: 270px;
	height: 70px;
}
.dj_contentTopMemberZH{
	position: relative;
	float: left;
	margin-bottom: 10px;
	width: 160px;
	height: 39px;
	line-height: 39px;
	font-size: 40px;
	font-family: "微软雅黑";
	color: #E05E9E;
	font-weight: bold;
}
.dj_contentTopMemberEN{
	position: relative;
	float: left;
	width: 272px;
	height: 21px;
	line-height: 21px;
	font-size: 23px;
	font-family: 'Conv_Nexa Light',Sans-Serif;
	color: #E05E9E;
}
.dj_Introduction{
	position: relative;
	float: left;
	width: 1280px;
	height: 575px;
	background-color: #FFFFFF;
	box-sizing: border-box;
	border: 1px solid #F5C9DF;
}
.dj_IntroductionLeft{
	position: relative;
	float: left;
	width: 415px;
	height: 575px;
}
.dj_IntroductionLeftPhoto{
	position: relative;
	float: left;
	padding-top: 15px;
	padding-right: 30px;
	padding-left: 15px;
	width: 370px;
	height: 480px;
}
.dj_IntroductionLeftSina{
	position: relative;
	float: left;
	margin-top: 20px;
	margin-left: 180px;
	width: 40px;
	height: 40px;
	background-color: #E05E9E;
	border-radius: 100%;
}
.dj_IntroductionLeftSinaLogo {
	position: relative;
	float: left;
	padding: 7px 7px 7px 7px;
	width: 26px;
	height: 26px;
}
.dj_IntroductionRight{
	position: relative;
	float: left;
	width: 840px;
	height: 575px;
}
.dj_IntroductionRightTop{
	position: relative;
	width: 840px;
	height: 115px;
	border-bottom: 1px solid #E05E9E;
}
.dj_IntroductionRightTopLogo{
	position: relative;
	float: right;
	margin-top: 20px;
	width: auto;
	height: auto;
}
.dj_IntroductionRightTopName{
	position: relative;
	float: left;
	padding-top: 25px;
	width: 320px;
	height: 78px;
	line-height: 39px;
	font-size: 28px;
	font-family: "微软雅黑";
	color: #E05E9E;
}
.dj_IntroductionRightTopName span{
	font-family: 'Conv_Nexa Light',Sans-Serif;
}
.dj_IntroductionRightDown{
	position: relative;
	float: left;
	width: 840px;
	height: 450px;
}
.dj_key{
	position: relative;
	float: left;
	padding-top: 18px;
	width: 70px;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #000000;
	text-align-last:justify;
}
.dj_value{
	position: relative;
	float: left;
	padding-top: 18px;
	width: 340px;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #000000;
}
.dj_value p{
	padding-top: 18px;
	width: 340px;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #000000;
}
.dj_contentDown{
	position: relative;
	width: 100%;
	height: 895px;
	background-color: #FAE0E9;
}
.dj_contentDownBox{
	position: relative;
	width: 1280px;
	height: 895px;
	margin:0 auto
}
.dj_contentDownLeft{
	position: relative;
	float: left;
	width: 510px;
	height: 830px;
}

.dj_DownLeftTitle{
	position: relative;
	float: left;
	height: 70px;
	width: 510px;
	padding-top: 55px;
	padding-bottom: 15px;
}

.dj_DownLeftTitleUp{
	position: relative;
	float: left;
	width: 510px;
	height: 40px;
	line-height: 40px;
	font-size: 40px;
	font-family: "微软雅黑";
	color: #E05E9E;
	font-weight: bold;
	margin-bottom: 10px;
}
.dj_DownLeftTitleDown{
	float: left;
	width: 510px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	font-family: 'Conv_Nexa Light',Sans-Serif;
	color: #E05E9E;

}
.dj_DownLeftContent{
	position: relative;
	float: left;
	padding: 15px;
	width: 480px;
	height: 660px;
	background-color: #FFFFFF;
}
/* dujian轮播图开始 */

.DuJianSwiper{
	width: 100%;
	height: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 0px 6px 0px 6px;
}
.swiper-pagination-bullet{
	opacity: 1;
	background-color: white;
}
.swiper-pagination-bullet-active{
	opacity: 1;
	background-color: #E05E9E;
}
/* dujian轮播图结束 */
.dj_contentDownRight{
	position: relative;
	float: right;
	width: 755px;
	height: 830px;
}
.dj_DownRightTitle{
	position: relative;
	float: left;
	padding-top: 55px;
	padding-bottom: 15px;
	width: 690px;
	height: 70px;
}
.dj_DownRightTitleUp{
	position: relative;
	float: left;
	margin-bottom: 10px;
	width: 690px;
	height: 40px;
	line-height: 40px;
	font-size: 40px;
	font-family: "微软雅黑";
	color: #E05E9E;
	font-weight: bold;
}
.dj_DownRightTitleDown{
	position: relative;
	float: left;
	width: 510px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	font-family: 'Conv_Nexa Light',Sans-Serif;
	color: #E05E9E;
}
.dj_DownRightContent{
	position: relative;
	float: left;
	padding: 15px;
	width: 725px;
	height: 660px;
	background-color: #FFFFFF;
}


/* Member_details_dujian css end */


/* Personal_feitao css start */
.personal_center_headercolorbox{
	width: 100%;
	height:auto;
	background-color:#FAE0E9;
}

.personal_center_contentcolorbox{
	width:100%;
	height:auto;
	background-color:#FAE0E9;
}
.personal_center_headerbox{
	width:1280px;
	height:160px;
	margin:0 auto;
}
.personal_center_contentbox{
	width:1280px;
	height:1786px;
	margin:0 auto;
	}
.personal_center_sidebox{
	position:absolute;
	left:30px;
	top:340px;
	width:70px;
	height:180px;
	}
.personal_center_followus{
	width:70px;
	height:12px;
	text-align:center;
	font-family:'Conv_Nexa Light',Sans-Serif;
	color:#F64E91;
	font-size:14px;
	line-height:12px;
	margin-bottom:18px;
	}	
.personal_center_wechat{
	width:64px;
	height:64px;
	margin-bottom:20px;
	border-radius: 50%;     
	-moz-border-radius: 50%;      
	-webkit-border-radius: 50%;
	}
.personal_center_weibo{
	width:64px;
	height:64px;
	border-radius: 50%;     
	-moz-border-radius: 50%;      
	-webkit-border-radius: 50%;
	}
.personal_center_title{
	width:1280px;
	height:148px;
	}
.personal_center_title1{
	width:1280px;
	height:72px;
	text-align:center;
	font-family:'Conv_Nexa Light',Sans-Serif;
	font-weight:bold;
	color:#000;
	font-size:68px;
	line-height:72px;
	}
.personal_center_title2{
	width:1280px;
	height:52px;
	text-align:center;
	font-family:"微软雅黑";
	color:#000;
	font-size:32px;
	line-height:52px;
	}
.personal_center_userbox{
	width:1000px;
	height:1412px;
	margin:0 auto;
	padding-bottom:52px;
	}
.personal_center_user{
	width:1000px;
	height:84px;
	margin:0 auto;
	padding-bottom:10px;
	border-bottom:1px solid #FFF;
	margin-bottom:25px;
	}
.personal_center_pic{
	float:left;
	width:84px;
	height:84px;
	margin-right:52px;
	background-color:#FFF;
	border-radius: 50%;     
	-moz-border-radius: 50%;      
	-webkit-border-radius: 50%;
	background-image: url(../images/ft_person.png);
    background-repeat: no-repeat;
	background-position:top center;
	}
.personal_center_leftmesgbox{
    float:left;
	height:84px;
	width:300px; 
	margin-right:46px;
	}
.personal_center_leftmesg{
	float:left;
	height:80px;
	width:299px; 
	border-right:1px solid #FFF;
	}
.personal_center_leftmesg_up{
	height:25px;
	width:297px;
	padding-left:2px;
	}
.personal_center_icondia{
	float:left;
	width:30px;
	height:25px;
	margin-right:8px;
	}
.personal_center_lefttext{
	float:left;
	width:259px;
	height:25px;
	font-family:"微软雅黑";
	color:#000;
	font-size:18px;
	line-height:25px;
	}
.personal_center_leftmesg_down{
	width:299px;
	height:46px;
	font-weight:bold;
	font-family:"微软雅黑";
	color:#F64E91;
	font-size:38px;
	line-height:46px;
	}
.personal_center_rightmesgbox{
    float:left;
	height:84px;
	width:200px; 
	}
.personal_center_rightmesg_up{
	width:198px;
	height:25px;
	font-family:"微软雅黑";
	color:#000;
	font-size:18px;
	line-height:25px;
	padding-left:2px;
	}
.personal_center_rightmesg_down{
	width:200px;
	height:46px;
	font-weight:bold;
	font-family:"微软雅黑";
	color:#F64E91;
	font-size:34px;
	line-height:46px;
	}
.personal_center_title3{
	width:1000px;
	height:52px;
	margin:0 auto;
	}
.personal_center_title3left{
	float:left;
	width:202px;
	height:52px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color:#FFF;
	text-align:center;
	font-family:"微软雅黑";
	font-size:20px;
	font-weight:bold;
	color:#000;
	line-height:52px;
	}
.personal_center_title3right{
	float:right;
	height:52px;
	width:auto;
	font-family:"微软雅黑";
	color:#000;
	font-size:12px;
	line-height:52px;
	}
.personal_center_mainbox{
	width:900px;
	height:1374px;
	background-color:#FFF;
	padding-top:38px;
	padding-left:54px;
	padding-right:46px;
	margin:0 auto;
	}
.personal_center_zone{
	width:900px;
	height:auto;
	padding-bottom:24px;
	}
.personal_center_midtitle{
	width:900px;
	height:28px;
	border-bottom:1px solid #000;
	font-family:"微软雅黑";
	font-size:20px;
	font-weight:bold;
	color:#000;
	line-height:20px;
	margin-bottom:32px;
	}
.personal_center_linebox{
	height:50px;
	width:900px;
	margin-bottom:26px;
	}
.personal_center_itemname1{
	float:left;
	margin-right:20px;
	margin-left:2px;
	height:50px;
	width:70px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#000;
	line-height:50px;
	}
.personal_center_itemname2{
	float:left;
	margin-right:20px;
	margin-left:2px;
	height:50px;
	width:50px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#000;
	line-height:50px;
	}
.personal_center_itemname3{
	float:left;
	margin-right:10px;
	margin-left:2px;
	height:50px;
	width:80px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#000;
	line-height:50px;
	}
.personal_center_textbox1{
	float:left;
	height:50px;
	width:350px;
	}
.personal_center_textbox2{
	float:left;
	height:50px;
	width:350px;
	margin-right:40px;
	}
.personal_center_textbox3{
	float:left;
	height:50px;
	width:320px;
	}
.personal_center_textbox4{
	float:left;
	height:50px;
	width:150px;
	margin-right:10px;
	}
.personal_center_textbox5{
	float:left;
	height:50px;
	width:90px;
	margin-right:10px;
	}	
.personal_center_textbox6{
	float:left;
	height:50px;
	width:210px;
	margin-right:40px;
	}	
.personal_center_texttype5{
	height:48px;
	width:188px;
	padding-left:20px;
	border-radius:5px;
	background-color:#FFF;
	border:1px solid #D8D8D8;
	}	
.personal_center_texttype4{
	height:48px;
	width:68px;
	padding-left:20px;
	border-radius:5px;
	background-color:#FFF;
	border:1px solid #D8D8D8;
	}	
.personal_center_texttype3{
	height:48px;
	width:128px;
	padding-left:20px;
	border-radius:5px;
	background-color:#FFF;
	border:1px solid #D8D8D8;
	}
.personal_center_texttype2{
	height:48px;
	width:298px;
	padding-left:20px;
	border-radius:5px;
	background-color:#FFF;
	border:1px solid #D8D8D8;
	}
.personal_center_texttype1{
	height:48px;
	width:328px;
	padding-left:20px;
	border-radius:5px;
	background-color:#FFF;
	border:1px solid #D8D8D8;
}
.personal_center_midbuttonbox{
	height:50px;
	width:140px;
	margin:0 auto;
}
.personal_center_savebutton{
	height:50px;
	width:140px;
	border:0;
	border-radius:5px;
	background-color:#000;
	font-family:"微软雅黑";
	font-size:16px;
	color:#FFF;
	line-height:50px;
}


/* Personal_feitao css end */

/* Register_yangwenbo css start */
.header_ywb {
	width: 100%;
	height:160px;
	background-color:#FAE0E9;
}
.header_xg_ywb{
	width:100%;
	height:160px;
}

.header_lr_ywb{
	width:1280px;
	height:160px;
	margin:0 auto;
}
.header_left_ywb{
	float:left;
	width:30%;
	height:160px;
}
.header_logo_ywb{
	float:left;
	width:116px;
	height:160px;
}
.header_right_ywb{
	float:left;
	width:70%;
	height:100px;
	padding-top:50px;
}
.header_right_top_ywb{
	width:100%;
	height:34px;
	margin-bottom:16px;
}
.header_right_top_ywb a{ 
	float:right;
	width:90px;
	height:34px;
	line-height:34px;
	margin-left:12px;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:600;
	color:#fff;
	text-align:center;
	background-color:#F64E91;
	border-radius:20px;
	text-decoration:none;
}
.header_right_top_ywb a:hover{
	text-decoration:none;
	width:90px;
	height:34px;
	line-height:34px;
	margin-left:12px;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:600;
	color:#F64E91;
	text-align:center;
	border-radius:20px;
	background-color:#fff;
}



.header_right_meun_ywb{
	width:100%;
	height:12px;
}

.header_right_meun_ywb li{
	float:right;
	width:auto;
	height:12px;
	line-height:12px;
	margin-left:56px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#333;
	text-align:center;
}
.content_ywb{
	position:relative;
	width:100%;
	height:580px;
	background-color:#FAE0E9;
}
.wbwx_ywb{
	width:50px;
	height:auto;
	padding-left:10px;
	padding-right:10px;
}

.wbwx_ywb li{
	width:50px;
	height:50px;
	margin-bottom:20px;
}
.register_ywb{
	width:100%;
	height:auto;

}
.register_div_ywb{
	width:440px;
	height:auto;
	margin:0 auto;
	padding-top:30px;

}
.rtitle_ywb{
	width:440px;
	height:44px;
	line-height:44px;
	margin-bottom:5px;
	font-family:'Conv_Nexa Light',Sans-Serif;
	font-size:44px;
	font-weight:bold;
	color:#222;
	text-align:center;
}
.zc_ywb{
	width:440px;
	height:30px;
	line-height:30px;
	font-family:"微软雅黑";
	font-size:20px;
	font-weight:600;
	color:#222;
	text-align:center;
}
.zclc_ywb{
	width:440px;
	height:auto;
	padding-top:30px;
}

.zclc_ywb li{
	width:440px;
	height:50px;
	margin-bottom:25px;
}
.sjh_ywb{
	float:left;
	width:410px;
	padding-left:30px;
	height:50px;
	line-height:40px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	border:0;
	background-color:#fff;
	border-radius:3px;
}
.cjmm_box_ywb{
	float:left;
	width:274px;
	height:50px;
	margin-right:6px;
}
.cjmm_ywb{
	width:244px;
	height:50px;
	line-height:40px;
	padding-left:30px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	border:0;
	background-color:#fff;
	border-radius:3px;
}
.yzm_ywb{
	width:160px;
	height:50px;
	line-height:50px;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:600;
	color:#fff;
	text-align:center;
	background-color:#F64E91;
	border-radius:3px;
}
.cjmm_1_ywb{
	width:410px;
	height:50px;
	line-height:40px;
	padding-left:30px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	border:0;
	background-color:#fff;
	border-radius:3px;
}
.right_yzm_box_ywb{
	float:left;
	width:160px;
	height:50px;
}
.cjzh_tz_ywb{
	width:440px;
	height:50px;
	line-height:50px;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:600;
	color:#fff;
	text-align:center;
	background-color:#222;
	border-radius:3px;
}
.ty_box_ywb{
	float:left;
	width:30px;
	height:20px;
}
.ty_ywb{
	width:16px;
	height:16px;
	border:1px solid #333;
	background-color:#fff;
}
.tyfwxy_ywb{
	float:left;
	width:400px;
	height:20px;
	line-height:20px;
	font-family:"微软雅黑";
	font-size:12px;
	font-weight:600;
	color:#222;
}
.suc_box_ywb{
	width:320px;
	height:auto;
	margin:0 auto;
	padding-top:120px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom: 40px;
	
}
.ctop_ywb{
	width:320px;
	height:112px;
	margin-bottom:20px;
}
.sucImgBox_ywb{
	position: absolute;
	width:112px;
	height:112px;
	padding-left:104px;
	padding-right:104px;
}

.sucText_ywb{
	width:100%;
	height:28px;
	line-height:28px;
	padding-top:20px;
	margin-bottom:14px;
	font-family:"微软雅黑";
	font-size:30px;
	color:#E05E9E;
	text-align:center;
	
}
.tz_ywb{
	width:100%;
	height:14px;
	line-height:14px;
	margin-bottom:40px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#222;
	text-align:center;
	
	
}
.enterdiv_ywb{
	width: 100%;
    height: 40px;
    padding-top: 20px;
}
.enterpersonal_ywb{
	width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: #222;
    border-radius: 3px;
}
/* Register_yangwenbo css end */

/* Login_sunhang css start */
.shheaderBox{
	width:100%;
    height:160px;
    background-color:#FAE0E9;
}
.shheaderWidthBox{
    width: 1280px;
    height: 160px;
    margin: 0 auto;
}
.shcontentNoWidthBox{
    height: auto;
    width: 100%;
    background-color:#FAE0E9;
}

.shcontentBox {
    width: 1280px;
	height: auto;
	padding-top: 40px;
	padding-bottom: 40px;
    margin: 0 auto;
    
}

.shloginBox{
	width: 440px;
	height: 480px;
	margin: 0 auto;
}

.shloginTitle{
	width:440px;
	height:65px;
	line-height:65px;
	font-family:'Conv_Nexa Light',Sans-Serif;
	font-size:60px;
	margin-bottom: 6px;
	color:#222;
	text-align:center;
}

.shloginMember{
	width: 440px;
	height:30px;
	line-height:30px;
	font-family:"微软雅黑";
	font-size:30px;
	color:#222;
	text-align:center;
}

.shimportBox{
	width: 440px;
    height: auto;
    padding-top: 36px;
}

.shimportBox li{
	width: 440px;
	height:50px;
	margin-bottom:28px;
}

.shtextBox{
	width: 410px;
	height:50px;
	list-style: height 50px;
	padding-left:30px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	border:0;
	background-color:#fff;
	border-radius:3px;
}

.shverifyCode{
	float: left;
    width: 275px;
    height: 50px;
}

.shverifyCodeText{
	width: 245px;
	height:50px;
	line-height:50px;
	padding-left:30px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	border:0;
	background-color:#fff;
	border-radius:3px;
}

 .shverifyPics{
	float: left;
	width: 160px;
	padding-left: 5px;
    height: 50px;
 }

 .shconfirmBox{
	width:100%;
	height:50px;
	line-height:50px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#fff;
	text-align:center;
	background-color:#222;
	border-radius:3px;
 }

 .shnoNum{
	float:left;
	width:50%;
	height:40px;
	line-height:40px;
	padding-bottom:20px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#222;
 }
.shnoNum a{
    color: #F64E91;
    text-decoration: none;

 }
.shnoNum a:hover{
    text-decoration: underline;
 }
 .shforgetPsw{
	float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #F64E91;
    text-align: right;
}
.shforgetPsw a{
    color: #F64E91;
    text-decoration: none;

 }
.shforgetPsw a:hover{
    text-decoration: underline;
 }


 .shmodBox{
	width: 100%;
    height: 510px;
    padding-bottom: 40px;
}
.shmodWidthBox{
	width: 1280px;
	height: auto;
	margin: 0 auto;
	padding-top: 120px;
	padding-bottom: 160px;
}

.shtipBox{
	width: 330px;
    height: 190px;
    margin: 0 auto;
}

.shiconBox{
	width: 110px;
    height: 110px;
	margin: 0 auto;
}


.shicontextBox{
	width: 330px;
    height: 30px;
	line-height: 30px;
	margin-top: 20px;
    font-family: "微软雅黑";
    font-size: 30px;
    color: #F64E91;
    text-align: center;
}

.shtextTip{
	width: 330px;
    height: 15px;
	line-height: 15px;
	margin-top: 15px;
    font-family: "微软雅黑";
    font-size: 15px;
    color: #222;
    text-align: center;
}

.shforgetWidthBox{
	width: 1280px;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.shforgetWidthBox1{
	width: 440px;
    height: auto;
    margin: 0 auto;
}

.shtitleBox{
	width: 440px;
    height: 65px;
    line-height: 65px;
    margin-bottom: 6px;
    font-family: 'Conv_Nexa Light',Sans-Serif;
    font-size: 60px;
    color: #222;
    text-align: center;
}

.shtitleBox1{
    width: 440px;
    height: 30px;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 30px;
    color: #222;
    text-align: center;
}

.shimportBox{
	width: auto;
    height: auto;
    padding-top: 36px;
}

.shimportBox li{
	width: auto;
    height: 50px;
    margin-bottom: 28px;
}

.shnumImport{
	width: 410px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
    border: 0;
    background-color: #fff;
    border-radius: 3px;

}

.shpswImport{
	float: left;
    width: 290px;
    height: 50px;
    margin-right: 10px;
}

.shpswtextImport{
	width: 260px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
    border: 0;
    background-color: #fff;
    border-radius: 3px;
}

.shgetCodeBox{
	float: left;
    width: 140px;
    height: 50px;
}

.shgetCode{
	width: auto;
    height: 50px;
    line-height: 50px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #F64E91;
    border-radius: 3px;
}

.shnewPsw{
	width: 410px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
    border: 0;
    background-color: #fff;
    border-radius: 3px;
}

.shnewPsw1{
	width: 410px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
    border: 0;
    background-color: #fff;
    border-radius: 3px;
}

.shmodPsw{
	width: 440px;
    height: 50px;
    line-height: 50px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #222;
    border-radius: 3px;
}
/* Login_sunhang css end */

/* News_details css start */
.newsDetailsheaderbox{
	width:100%;
	height:auto;
	background-color:#FAE0E9;
}

.newsDetailsheaderstrict{
	width:1280px;
	height:160px;
	margin:0 auto;
}
.newsDetailscontentbox{
	position:relative;
	width:100%;
	height:auto;
	margin-top:-20px;
	background-color:#FAE0E9;
}



.newsDetailscontentstrict{
	width:1280px;
	height:1020px;
	margin:0 auto;
}

.kiss-slider{
	margin:20px auto;
}

.kiss-slider li img{
	width: 100%;
}





#example1 li{
	top:20px;
}

.newsDetailsexample1_li2{
	margin-top:20px;
}

.newsDetailscontentstrtitle{
	width:1280px;
	height:30px;
	margin-top:40px;
	line-height:30px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:30px;
	font-weight:bold;
	color:#000000;
	
}

.newsDetailscontentstrbutton{
	float:right;
	width:90px;
	height:30px;
	font-family:"微软雅黑";
	font-size:20px;
	text-align:center;
	font-weight:bold;
	color:#ffffff;
	background-color: #E05E9E
}


.newsDetailscontentstrnote{
	width:1280px;
	height:25px;
	margin-top:25px;
}

.newsDetailscontentstrnotestr{
	width:300px;
	height:25px;
	margin:0 auto;
}

.newsDetailscontentstrnotestrleft{
	float:left;
	width:88px;
	height:23px;
	line-height:23px;
	border: 1px solid #FC97B8;
	font-family:"微软雅黑";
	font-size:15px;
	color: #FC97B8;
	background-color: #ffffff;
	text-align:center;
}

.newsDetailscontentstrnotestrright{
	float:right;
	width:auto;
	height:25px;
	line-height:25px;
	font-family:"微软雅黑";
	font-size:15px;
	color:#000000;
	text-align:center;
}


.newsDetailscontentstrphoto{
	width:1280px;
	height:440px;
	margin-top:30px;
	background-image:url(../images/lzjpic.png);
	background-position:top center;
	background-size:100% 100%;
}


.newsDetailscontentstrtext{
	width:1280px;
	height:200px;
	margin-top:40px;
}

.newsDetailscontentstrtext p{
	width:100%;
	margin-bottom:15px;
	text-indent: 20px;
	height:auto;
	line-height:25px;
	font-size:15px;
	color:#000000;
}


.newsDetailscontentstrbottombutton{
	width:1280px;
	height:40px;
	margin:0 auto;
}

.newsDetailscontentstrbottombuttonplus{
	width:310px;
	height:40px;
	margin:0 auto;
}

button{
 	float:left;
	width:136px;
	height:40px;
	line-height:36px;
	color: #000000;
   	background-color: #ffffff;
   	border: 2px solid #E05E9E;
 	font-family: "微软雅黑";
  	font-size: 15px;
 	text-align:center;
 	cursor:pointer; 
}
/* News_details css end */

/* News_list css start */
.newsListnewHeader{
	position:relative;
	width: 100%;
	height:auto;
	background-image: url("../images/newsList/zwg_bg.png");
	background-position: top center;
	background-repeat: no-repeat;
}
.newsListheaderBox{
	width: 100%;
	height: 420px;
	margin: 0 auto;
}
.newsListheaderNav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 160px;
	background-image: url(../images/nav2.png);
	z-index:9;
}
.newsListheaderNavWidthBox{
	width: 1280px;
	height: 160px;
	margin: 0 auto;

}
.newsListheaderNavLeftBox{
	float: left;
	width: 30%;
	height: 160px;

}
.newsListheaderNavLeftLogo{
	float: left;
	width: 116px;
	height: 160px;
}
.newsListheaderNavRightBox{
	float: left;
	width: 70%;
	height: 110px;
	padding-top: 50px;
}
.newsListheaderNavRightTop{
	width:100%;
	height: 35px;
	margin-bottom: 15px;

}
.newsListheaderNavRightTop a{
	float: right;
	width: 88px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	border-radius: 17px;
	border: 2px solid #E05E9E;
	text-decoration: none;
	margin-left: 10px;

}
.newsListheaderNavRightTop a:hover{
	background-color:#E05E9E;
}

.newsListheaderNavRightBottom{
	width: 100%;
	height: 14px;
}
.newsListheaderNavRightBottom li{
	float: right;
	width: auto;
	height: 14px;
	line-height: 14px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	margin-left: 56px;
}
.newsListfloatNav{
	display: none;
	position: fixed;
	width: 100%;
	height: 90px;
	background-color: white;
	opacity: 0.9;
	z-index: 99;
	box-shadow: 0px 5px 10px black;
}

.newsListfloatNavBox{
	width: 1280px;
	height: 90px;
	margin: 0 auto;
}


.newsListfloatNavLogo{
	float: left;
	width: 30%;
	height: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.newsListfloatNavLogo img{
	width: 188px;
	height: 60px;
}

.newsListheaderBg{
	position:absolute;
	width: 100%;
	height: 260px;
	line-height:260px;
	top: 130px;
	font-family: "微软雅黑";
	font-size: 82px;
	color: #ffffff;
	text-align: center;
}

.newsListbackToTop{
	position: fixed;
	right: 10px;
	bottom: -10%;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	z-index: 9;
	cursor: pointer;

}


.newsListbackToTop img:hover{
	content: url("../images/Top_hover.png");
}

.newsListnewContent{
	position:relative;
	width:100%;
	height:auto;
	background-color: #FAE0E9;
}
.newsListcontentBox{
	width: 1280px;
	height: auto;
	margin: 0 auto;
	padding-top: 65px;
	padding-bottom: 50px;
}
.newsListcontentTitle{
	width: 100%;
	height: 40px;
	margin-bottom: 35px;
}


.newsListallNewsIcon{
	position: absolute;
	top: 4px;
	left: 20px;
	width: 20px;
	height: 21px;
	padding-bottom: 10px;
	margin-right: 12px;
	z-index: 9;
}
.newsListallNewsText{
	float: left;
	height: 40px;
	width: auto;
	color:white;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 40px;
}
.newsListcontentTitle li{
	float: left;
	width: 166px;
	height: 36px;
	margin-right: 15px;
	background-color: white;
	list-style: none;
	border: 2px solid;
	color: #E05E9E;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
}



.newsListdetailNewsBox{
	width: 100%;
	height: auto;
}
.newsListdetailNewsBox ul>*{
	float: left;
}
.newsListdetailNewsBox li{
	position: relative;
	width: 310px;
	height: 365px;
	margin-bottom: 15px;
	list-style: none;
	background-color: #C898F5;
}
.newsListdetailNewsBox li:not(:nth-child(4n)){
	margin-right: 13px;
}
.newsListdetailNewsTime{
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 35px;
	background-color: #E05E9E;
	color: white;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
}

.newsListdetailNewsTitleBg{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 310px;
	height:150px;
	background-image: url("../images/newsList/zwg_shadow.png");

}
.newsListdetailNewsTitle{
	position: absolute;
	left: 0px;
	bottom: 30px;
	width: 298px;
	height: 56px;
	font-family: "微软雅黑";
	color: white;
	font-size: 19px;
	line-height: 28px;
	font-weight: 700;
	margin-left: 12px;
}

.newsListcheckBt{
	display: none;
	position: absolute;
	left: 15px;
	bottom: 20px;

	width: 88px;
	height: 23px;
	border: 1px solid white;
	color: white;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	cursor: pointer;
}
.swiper-slide_zhaowenguang{
	width:100%;
	height:auto;
}

.swiper-pagination_zhaowenguang{
	position: static;
}

.swiper-pagination_zhaowenguang .swiper-pagination-bullet{
	float: left;
	width: 166px;
	height: 36px;
	margin-right: 15px;
	background-color: white;
	list-style: none;
	border: 2px solid;
	color: #E05E9E;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	border-radius:0;
	opacity: 1;
}
.swiper-pagination_zhaowenguang .swiper-pagination-bullet:first-child{
	position: relative;
}


.swiper-pagination_zhaowenguang .swiper-pagination-bullet-active{
	float: left;
	width: 166px;
	height: 36px;
	margin-right: 15px;
	background-color: #E05E9E;
	list-style: none;
	border: 2px solid;
	color: #ffffff;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
}

/* News_list css end */

/* Event_lizizhen css start */
.event_container {
	position:relative;
	width:100%;
	height:auto;
	margin:auto;
	min-height:100%;
}
.event_headerLizizhenBox{
	width: 100%;
	height:420px;
	background-image: url(../images/lzz_headBackground1.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.event_headerWidth{
	width: 1280px;
	height: 160px;
	margin:0 auto;
}

.event_headerTop{
	width: 1280px;
	height: 160px;
}
.event_headerText{
	padding-top: 55px;
	padding-bottom: 130px;
	width: 100%;
	height: 75px;
	text-align: center;
	font-family: 微软雅黑;
	line-height: 75px;
	color: white;
	font-size: 75px;
}
.event_contentBox{
	width: 100%;
	height: auto;
	background-color: #FAE0E9;
}
.event_contentEvent{
	width: 1280px;
	height: auto;
	margin:0 auto;
	padding-bottom: 70px;
}

#calendar{
	max-width: 12800px;
    margin: 0 auto;
}
#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
  .event_footerTop{
	height: 490px;
	width: 100%;
	background-color: #F7CFE9;
}
.event_footerBottom{
	height: 380px;
	width: 100%;
	background-color: #E05E9E;
}
.event_footerTopWidth{
	height: 490px;
	width: 1280px;
	margin: 0 auto;
}
.event_footerBottomWidth{
	height: 380px;
	width: 1280px;
	margin: 0 auto;
}

.event_eventBox {
    position:fixed;
	z-index: 99999;
    width: 768px;
    height: 458px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	background-color: white;
	border: #E05E9E solid 2px;
}
.event_eventBoxPhoto{
	margin-top: 30px;
	margin-left: 20px;
	width: 726px;
	height: 415px;
	background-image: url(../images/lzz_event.jpg);
	background-size: 100% 100%;
}
.event_eventBoxClose{
	height: 30px;
	width: 30px;
	background-image: url(../images/lzz_close.png);
	margin-top: -40px;
	margin-left: 738px;
}
.event_eventBC{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.3;
	height: 100%;
	width: 100%;
	z-index: 9999;
}
/* Event_lizizhen css end */