@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body, html {
	height: 100%;
}

body{
	font-size: 100%;
    font-size: 16px;
    font-size: 1em;
	max-width:100%;
	min-width:320px; 
	margin:auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
	
}


img {
	max-width: 100%;
	max-height: 100%;
}


a img {
	border: 0;
}

li,ol{
	list-style:none;
}




.container {
	width:100%;
	height:1000px;
	display:block;
	background-color:#FAE0E9;
}
.header_ywb {
	width: 100%;
	height:160px;
	
}
.header_xg_ywb{
	width:100%;
	height:160px;
}
.header_loc_ywb{
	position:absolute;
	top:0px;
	left:0px;
	height:160px;
	width:96%;
	
	padding-left:2%;
	padding-right:2%;
	background-position:bottom center;
}
.header_lr_ywb{
	width:1280px;
	height:160px;
	margin:0 auto;
}
.header_left_ywb{
	float:left;
	width:30%;
	height:160px;
}
.header_logo_ywb{
	float:left;
	width:116px;
	height:160px;
}
.header_right_ywb{
	float:left;
	width:70%;
	height:100px;
	padding-top:50px;
}
.header_right_top_ywb{
	width:100%;
	height:34px;
	margin-bottom:16px;
}
.header_right_top_ywb a{ 
	float:right;
	width:90px;
	height:34px;
	line-height:34px;
	margin-left:12px;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:600;
	color:#fff;
	text-align:center;
	background-color:#F64E91;
	border-radius:20px;
	text-decoration:none;
}
.header_right_top_ywb a:hover{
	text-decoration:none;
	width:90px;
	height:34px;
	line-height:34px;
	margin-left:12px;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:600;
	color:#F64E91;
	text-align:center;
	border-radius:20px;
	background-color:#fff;
}



.header_right_meun_ywb{
	width:100%;
	height:12px;
}

.header_right_meun_ywb li{
	float:right;
	width:auto;
	height:12px;
	line-height:12px;
	margin-left:56px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#333;
	text-align:center;
}



.content_ywb{
	position:relative;
	width:100%;
	height:auto;
}
.follow_ywb{
	position:absolute;
	padding-top:340px;
	padding-left:6px;
	width:70px;
	height:200px;
}
.title_ywb{
	width:100%;
	height:20px;
	line-height:20px;
	margin-bottom:10px;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:600;
	color:#E05E9E;
	text-align:center;
}
.wx_ywb{
	width:50px;
	height:50px;
	margin-bottom:20px;
	background-image: url(../images/wx-01_yangwenbo.png);
	background-position:top center;
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.wx_ywb:hover{
	
	background-image:  url(../images/wx-02_yangwenbo.png);
}
.wb_ywb{
	width:50px;
	height:50px;
	background-image: url(../images/wb-01_yangwenbo.png);
	background-position:top center;
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.wb_ywb:hover{
	
	background-image:  url(../images/wb-02_yangwenbo.png);
}




.wbwx_ywb{
	width:50px;
	height:auto;
	padding-left:10px;
	padding-right:10px;
}

.wbwx_ywb li{
	width:50px;
	height:50px;
	margin-bottom:20px;
}
.register_ywb{
	width:100%;
	height:auto;

}
.register_div_ywb{
	width:440px;
	height:auto;
	margin:0 auto;
	padding-top:30px;

}
.rtitle_ywb{
	width:440px;
	height:44px;
	line-height:44px;
	margin-bottom:5px;
	font-family:"微软雅黑";
	font-size:44px;
	font-weight:bold;
	color:#222;
	text-align:center;
}
.zc_ywb{
	width:440px;
	height:30px;
	line-height:30px;
	font-family:"微软雅黑";
	font-size:20px;
	font-weight:600;
	color:#222;
	text-align:center;
}
.zclc_ywb{
	width:440px;
	height:auto;
	padding-top:30px;
}

.zclc_ywb li{
	width:440px;
	height:50px;
	margin-bottom:25px;
}
.sjh_ywb{
	float:left;
	width:410px;
	padding-left:30px;
	height:50px;
	line-height:40px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	border:0;
	background-color:#fff;
	border-radius:3px;
}
.cjmm_box_ywb{
	float:left;
	width:274px;
	height:50px;
	margin-right:6px;
}
.cjmm_ywb{
	width:244px;
	height:50px;
	line-height:40px;
	padding-left:30px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	border:0;
	background-color:#fff;
	border-radius:3px;
}
.yzm_ywb{
	width:160px;
	height:50px;
	line-height:50px;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:600;
	color:#fff;
	text-align:center;
	background-color:#F64E91;
	border-radius:3px;
}
.cjmm_1_ywb{
	width:410px;
	height:50px;
	line-height:40px;
	padding-left:30px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	border:0;
	background-color:#fff;
	border-radius:3px;
}
.right_yzm_box_ywb{
	float:left;
	width:160px;
	height:50px;
}
.cjzh_tz_ywb{
	width:440px;
	height:50px;
	line-height:50px;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:600;
	color:#fff;
	text-align:center;
	background-color:#222;
	border-radius:3px;
}
.ty_box_ywb{
	float:left;
	width:30px;
	height:20px;
}
.ty_ywb{
	width:16px;
	height:16px;
	border:1px solid #333;
	background-color:#fff;
}
.tyfwxy_ywb{
	float:left;
	width:400px;
	height:20px;
	line-height:20px;
	font-family:"微软雅黑";
	font-size:12px;
	font-weight:600;
	color:#222;
}






.suc_box_ywb{
	width:320px;
	height:auto;
	margin:0 auto;
	padding-top:175px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:100px;
}
.ctop_ywb{
	width:320px;
	height:112px;
	margin-bottom:20px;
}
.sucImgBox_ywb{
	position: absolute;
	width:112px;
	height:112px;
	padding-left:104px;
	padding-right:104px;
}
.sucImg_ywb{
	
}
.sucText_ywb{
	width:100%;
	height:28px;
	line-height:28px;
	padding-top:20px;
	margin-bottom:14px;
	font-family:"微软雅黑";
	font-size:30px;
	color:#E05E9E;
	text-align:center;
	
}
.tz_ywb{
	width:100%;
	height:14px;
	line-height:14px;
	margin-bottom:40px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#222;
	text-align:center;
	
	
}
.enterdiv_ywb{
	width: 100%;
    height: 40px;
    padding-top: 20px;
}
.enterpersonal_ywb{
	width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: #222;
    border-radius: 3px;
}

/* footer start */
#footer{
	position:relative;
	width:100%;
	height:auto;
}
.footerBox{
	width: 100%;
	height: 870px;

}
/* footerTop start */
.footerTopBox{
	width: 100%;
	height: 490px;
	background-color: #F7CFDF;
	border-bottom: 1px solid #FAE0E9
}
.footerTopWidthBox{
	width: 1280px;
	height: 490px;
	margin: 0 auto;

}
.footerTopTitle{
	height: 60px;
	width: 100%;
	padding-top: 70px;
	
	font-family: 'Conv_Nexa Light',Sans-Serif;
	font-size: 45px;
	color: #E05E9E;
	line-height: 60px;
	text-align: center;
	margin-bottom: 40px;
}
.footerTopGroup{
	height: 230px;
	width: 100%;
}
.footerTopGroupTop{
	height: 100px;
	width: 1280px;
	margin-bottom: 30px;

}
.footerTopGroupTop li{
	float: left;
	height: 97px;
	width: 232px;
}
.footerTopGroupTop li:not(:last-child){
	margin-right:30px;
}
.footerTopGroupBottom{
	height: 100px;
	width: 1018px;
	padding-left: 131px;
	padding-right: 131px;

}
.footerTopGroupBottom li{
	float: left;
	height: 97px;
	width: 232px;
}
.footerTopGroupBottom li:not(:last-child){
	margin-right:30px;
}
/* .footerTopGroupBottomImg{
	float: left;
	height: 100px;
	width: 234px;
	margin-right: 28px;
} */

/* footerTop end */

/* footerBottom start */
.footerBottomBox{
	width: 100%;
	height: 380px;
	background-color:#E05E9E;
}
.footerBottomWidthBox{
	width: 1280px;
	height: 380px;
	margin: 0 auto;
}
.footerBottomLeftBox{
	float: left;
	width: 640px;
	height: 295px;
	padding-top: 85px;
}

.footerBottomLeftLogo{
	height: 86px;
	width: 100%;
	margin-bottom: 20px;
}
.footerBottomLeftLogoImg{
	height: 86px;
	width: 64px;
}
.footerBootomLeftText{
	height: auto;
	width: 100%;
}
.footerBootomLeftTextNav{
	height: 15px;
	width: 100%;
	margin-bottom: 10px;
}
.footerBootomLeftTextNav li{
	float: left;
	height: 15px;
	width: auto;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #ffffff;
	line-height: 15px;
	margin-left: 15px;
	padding-right: 12px;
	border-right: 1px solid #ffffff;
}
.footerBootomLeftTextNav li a{
	color: #ffffff;
	text-decoration: none;
}

.footerBootomLeftTextCopyRights{
	height: 15px;
	width: 100%;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #ffffff;
	line-height: 15px;
}

.footerBottomRightBox{
	float: right;
	width: 590px;
	height: 295px;
	padding-left: 50px;
	padding-top: 85px;
}
.footerBottomRightMeun{
	float: right;
	width: 145px;
	height: auto;
	margin-left: 65px;
}
.footerBottomRightMeunTitle{
	height: 14px;
	width: 145px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	padding-bottom: 16px;
	border-bottom: 2px solid #ffffff;

	margin-bottom: 20px;
}
.footerBottomRightMeunContent{
	height: auto;
	width: 200px;

}
.footerBottomRightMeunContent li{
	height: 14px;
	width: auto;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #ffffff;
	line-height: 14px;
	margin-bottom: 15px;

}
.footerBottomRightMeunContent li a{
	color: #ffffff;
	text-decoration: none;

}
/* footerBottom end */
/* footer end */












