@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }
body{
	font-size: 100%;
    font-size: 16px;
    font-size: 1em;
	max-width:100%;
	min-width:320px; 
	margin:auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
img:not([src*="/"]){display:none;}
img {
max-width: 100%;
height: auto;
}


a img { border: 0; }

li,ol{
	list-style:none;
}
.container {
	position:relative;
	width:100%;
	height:auto;
	margin:auto;
	min-height:100%;
}

#header {
	position:relative;
	width: 100%;
    height:auto;
    
}
.shheaderBox{
	width:100%;
    height:160px;
    background-color:#FAE0E9;
}
.shheaderWidthBox{
    width: 1280px;
    height: 160px;
    margin: 0 auto;
}

.shlogoBox{
	float: left;
    width: 116px;
    height: 160px;
}
.shheaderrightBox{
	float: left;
    width: 1164px;
    height: 160px;
}
.shrighttopBox{
	width: 1164px;
    height: 100px;

}
.shrighttopBox a{
	float: right;
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-top: 48px;
    margin-left: 20px;
    font-family: "微软雅黑";
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: #F64E91;
    border-radius: 15px;
    text-decoration: none;
}

.shmenuBox{
	width: 1164px;
    height: 60px;
}
.shmenuBox li{
	float: right;
    width: auto;
    height: 12px;
    line-height: 12px;
    margin-left: 50px;
    font-family: "微软雅黑";
    font-size: 15px;
    color: #333;
    text-align: center;
}
#content{
	position:relative;
	width:100%;
    height:auto;
    
}

.shcontentNoWidthBox{
    height: auto;
    width: 100%;
    background-color:#FAE0E9;
}

.shcontentBox {
    width: 1280px;
	height: auto;
	padding-top: 40px;
	padding-bottom: 40px;
    margin: 0 auto;
    
}

.shloginBox{
	width: 440px;
	height: 480px;
	margin: 0 auto;
}

.shloginTitle{
	width:440px;
	height:65px;
	line-height:65px;
	font-family:'Conv_Nexa Light',Sans-Serif;
	font-size:60px;
	margin-bottom: 6px;
	color:#222;
	text-align:center;
}

.shloginMember{
	width: 440px;
	height:30px;
	line-height:30px;
	font-family:"微软雅黑";
	font-size:30px;
	color:#222;
	text-align:center;
}

.shimportBox{
	width: 440px;
    height: auto;
    padding-top: 36px;
}

.shimportBox li{
	width: 440px;
	height:50px;
	margin-bottom:28px;
}

.shtextBox{
	width: 410px;
	height:50px;
	list-style: height 50px;
	padding-left:30px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	border:0;
	background-color:#fff;
	border-radius:3px;
}

.shverifyCode{
	float: left;
    width: 275px;
    height: 50px;
}

.shverifyCodeText{
	width: 245px;
	height:50px;
	line-height:50px;
	padding-left:30px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	border:0;
	background-color:#fff;
	border-radius:3px;
}

 .shverifyPics{
	float: left;
	width: 160px;
	padding-left: 5px;
    height: 50px;
 }

 .shconfirmBox{
	width:100%;
	height:50px;
	line-height:50px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#fff;
	text-align:center;
	background-color:#222;
	border-radius:3px;
 }

 .shnoNum{
	float:left;
	width:50%;
	height:40px;
	line-height:40px;
	padding-bottom:20px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#222;
 }
.shnoNum a{
    color: #F64E91;
    text-decoration: none;

 }
.shnoNum a:hover{
    text-decoration: underline;
 }
 .shforgetPsw{
	float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #F64E91;
    text-align: right;
}
.shforgetPsw a{
    color: #F64E91;
    text-decoration: none;

 }
.shforgetPsw a:hover{
    text-decoration: underline;
 }


 .shmodBox{
	width: 100%;
    height: auto;
    padding-bottom: 40px;
}
.shmodWidthBox{
	width: 1280px;
	height: auto;
	margin: 0 auto;
	padding-top:175px;
}

.shtipBox{
	width: 330px;
    height: 190px;
    margin: 0 auto;
}

.shiconBox{
	width: 110px;
    height: 110px;
	margin: 0 auto;
}


.shicontextBox{
	width: 330px;
    height: 30px;
	line-height: 30px;
	margin-top: 20px;
    font-family: "微软雅黑";
    font-size: 30px;
    color: #F64E91;
    text-align: center;
}

.shtextTip{
	width: 330px;
    height: 15px;
	line-height: 15px;
	margin-top: 15px;
    font-family: "微软雅黑";
    font-size: 15px;
    color: #222;
    text-align: center;
}

.shforgetWidthBox{
	width: 1280px;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.shforgetWidthBox1{
	width: 440px;
    height: auto;
    margin: 0 auto;
}

.shtitleBox{
	width: 440px;
    height: 65px;
    line-height: 65px;
    margin-bottom: 6px;
    font-family: 'Conv_Nexa Light',Sans-Serif;
    font-size: 60px;
    color: #222;
    text-align: center;
}

.shtitleBox1{
    width: 440px;
    height: 30px;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 30px;
    color: #222;
    text-align: center;
}

.shimportBox{
	width: auto;
    height: auto;
    padding-top: 36px;
}

.shimportBox li{
	width: auto;
    height: 50px;
    margin-bottom: 28px;
}

.shnumImport{
	width: 410px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
    border: 0;
    background-color: #fff;
    border-radius: 3px;

}

.shpswImport{
	float: left;
    width: 290px;
    height: 50px;
    margin-right: 10px;
}

.shpswtextImport{
	width: 260px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
    border: 0;
    background-color: #fff;
    border-radius: 3px;
}

.shgetCodeBox{
	float: left;
    width: 140px;
    height: 50px;
}

.shgetCode{
	width: auto;
    height: 50px;
    line-height: 50px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #F64E91;
    border-radius: 3px;
}

.shnewPsw{
	width: 410px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
    border: 0;
    background-color: #fff;
    border-radius: 3px;
}

.shnewPsw1{
	width: 410px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
    border: 0;
    background-color: #fff;
    border-radius: 3px;
}

.shmodPsw{
	width: 440px;
    height: 50px;
    line-height: 50px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #222;
    border-radius: 3px;
}

#footer{
	position:relative;
	width:100%;
	height:auto;
}



