@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }
body{
	font-size: 100%;
	font-size: 16px;
	font-size: 1em;
	max-width:100%;
	min-width:320px;
	margin:auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
img:not([src*="/"]){display:none;}
img {
	max-width: 100%;
	height: auto;
}
ul,li{list-style: none;}

a img { border: 0; }
a{cursor: pointer;}

.container {
	position:relative;
	width:100%;
	height:auto;
	margin:auto;
	min-height:100%;
}

#header {
	width: 100%;
	height:auto;

}
.newsListnewHeader{
	position:relative;
	width: 100%;
	height:auto;
	background-image: url("../images/newsList/zwg_bg.png");
	background-position: top center;
	background-repeat: no-repeat;
}
.newsListheaderBox{
	width: 100%;
	height: 420px;
	margin: 0 auto;
}
.newsListheaderNav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 160px;
	background-image: url(../images/nav2.png);
	z-index:9;
}
.newsListheaderNavWidthBox{
	width: 1280px;
	height: 160px;
	margin: 0 auto;

}
.newsListheaderNavLeftBox{
	float: left;
	width: 30%;
	height: 160px;

}
.newsListheaderNavLeftLogo{
	float: left;
	width: 116px;
	height: 160px;
}
.newsListheaderNavRightBox{
	float: left;
	width: 70%;
	height: 110px;
	padding-top: 50px;
}
.newsListheaderNavRightTop{
	width:100%;
	height: 35px;
	margin-bottom: 15px;

}
.newsListheaderNavRightTop a{
	float: right;
	width: 88px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	border-radius: 17px;
	border: 2px solid #E05E9E;
	text-decoration: none;
	margin-left: 10px;

}
.newsListheaderNavRightTop a:hover{
	background-color:#E05E9E;
}

.newsListheaderNavRightBottom{
	width: 100%;
	height: 14px;
}
.newsListheaderNavRightBottom li{
	float: right;
	width: auto;
	height: 14px;
	line-height: 14px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	margin-left: 56px;
}
.newsListfloatNav{
	display: none;
	position: fixed;
	width: 100%;
	height: 90px;
	background-color: white;
	opacity: 0.9;
	z-index: 99;
	box-shadow: 0px 5px 10px black;
}

.newsListfloatNavBox{
	width: 1280px;
	height: 90px;
	margin: 0 auto;
}


.newsListfloatNavLogo{
	float: left;
	width: 30%;
	height: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.newsListfloatNavLogo img{
	width: 188px;
	height: 60px;
}

.newsListheaderBg{
	position:absolute;
	width: 100%;
	height: 260px;
	line-height:260px;
	top: 130px;
	font-family: "微软雅黑";
	font-size: 82px;
	color: #ffffff;
	text-align: center;
}

.newsListbackToTop{
	position: fixed;
	right: 10px;
	bottom: -10%;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	z-index: 9;
	cursor: pointer;

}


.newsListbackToTop img:hover{
	content: url("../images/Top_hover.png");
}

#content{
	width:100%;
	height:auto;
}
.newsListnewContent{
	position:relative;
	width:100%;
	height:auto;
	background-color: #FAE0E9;
}
.newsListcontentBox{
	width: 1280px;
	height: auto;
	margin: 0 auto;
	padding-top: 65px;
	padding-bottom: 50px;
}
/* contentLeftFixed start */
.newsListcontentLeftFixed{
	position: absolute;
	top:60px;
	left: 10px;
	width: 70px;
	height: 200px;
	z-index: 2;
}
.newsListcontentLeftFixedTitle{
	height: 20px;
	width: 100%;

	line-height: 20px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #E05E9E;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}
.newsListcontentLeftFixedIcon{
	height: auto;
	width: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
.newsListcontentLeftFixedIcon li{
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
}
.newsListcontentLeftFixedIcon li img{
	cursor: pointer;
}
/* contentLeftFixed end */
.newsListcontentTitle{
	width: 100%;
	height: 40px;
	margin-bottom: 35px;
}


.newsListallNewsIcon{
	position: absolute;
	top: 4px;
	left: 20px;
	width: 20px;
	height: 21px;
	padding-bottom: 10px;
	margin-right: 12px;
	z-index: 9;
}
.newsListallNewsText{
	float: left;
	height: 40px;
	width: auto;
	color:white;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 40px;
}
.newsListcontentTitle li{
	float: left;
	width: 166px;
	height: 36px;
	margin-right: 15px;
	background-color: white;
	list-style: none;
	border: 2px solid;
	color: #E05E9E;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
}



.newsListdetailNewsBox{
	width: 100%;
	height: auto;
}
.newsListdetailNewsBox ul>*{
	float: left;
}
.newsListdetailNewsBox li{
	position: relative;
	width: 310px;
	height: 365px;
	margin-bottom: 15px;
	list-style: none;
	background-color: #C898F5;
}
.newsListdetailNewsBox li:not(:nth-child(4n)){
	margin-right: 13px;
}
.newsListdetailNewsTime{
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 35px;
	background-color: #E05E9E;
	color: white;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
}

.newsListdetailNewsTitleBg{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 310px;
	height:150px;
	background-image: url("../images/newsList/zwg_shadow.png");

}
.newsListdetailNewsTitle{
	position: absolute;
	left: 0px;
	bottom: 30px;
	width: 298px;
	height: 56px;
	font-family: "微软雅黑";
	color: white;
	font-size: 19px;
	line-height: 28px;
	font-weight: 700;
	margin-left: 12px;
}

.newsListcheckBt{
	display: none;
	position: absolute;
	left: 15px;
	bottom: 20px;

	width: 88px;
	height: 23px;
	border: 1px solid white;
	color: white;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	cursor: pointer;
}


#footer{
	position:relative;
	width:100%;
	height:auto;
}


/* footer start */
#footer{
	position:relative;
	width:100%;
	height:auto;
}
.footerBox{
	width: 100%;
	height: 870px;

}
/* footerTop start */
.footerTopBox{
	width: 100%;
	height: 490px;
	background-color: #F7CFDF;
	border-bottom: 1px solid #FAE0E9
}
.footerTopWidthBox{
	width: 1280px;
	height: 490px;
	margin: 0 auto;

}
.footerTopTitle{
	height: 60px;
	width: 100%;
	padding-top: 70px;

	font-family: 'Conv_Nexa Light',Sans-Serif;
	font-size: 45px;
	color: #E05E9E;
	line-height: 60px;
	text-align: center;
	margin-bottom: 40px;
}
.footerTopGroup{
	height: 230px;
	width: 100%;
}
.footerTopGroupTop{
	height: 100px;
	width: 1280px;
	margin-bottom: 30px;

}
.footerTopGroupTop li{
	float: left;
	height: 97px;
	width: 232px;
}
.footerTopGroupTop li:not(:last-child){
	margin-right:30px;
}
.footerTopGroupBottom{
	height: 100px;
	width: 1018px;
	padding-left: 131px;
	padding-right: 131px;

}
.footerTopGroupBottom li{
	float: left;
	height: 97px;
	width: 232px;
}
.footerTopGroupBottom li:not(:last-child){
	margin-right:30px;
}
/* .footerTopGroupBottomImg{
	float: left;
	height: 100px;
	width: 234px;
	margin-right: 28px;
} */

/* footerTop end */

/* footerBottom start */
.footerBottomBox{
	width: 100%;
	height: 380px;
	background-color:#E05E9E;
}
.footerBottomWidthBox{
	width: 1280px;
	height: 380px;
	margin: 0 auto;
}
.footerBottomLeftBox{
	float: left;
	width: 640px;
	height: 295px;
	padding-top: 85px;
}

.footerBottomLeftLogo{
	height: 86px;
	width: 100%;
	margin-bottom: 20px;
}
.footerBottomLeftLogoImg{
	height: 86px;
	width: 64px;
}
.footerBootomLeftText{
	height: auto;
	width: 100%;
}
.footerBootomLeftTextNav{
	height: 15px;
	width: 100%;
	margin-bottom: 10px;
}
.footerBootomLeftTextNav li{
	float: left;
	height: 15px;
	width: auto;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #ffffff;
	line-height: 15px;
	margin-left: 15px;
	padding-right: 12px;
	border-right: 1px solid #ffffff;
}
.footerBootomLeftTextNav li a{
	color: #ffffff;
	text-decoration: none;
}

.footerBootomLeftTextCopyRights{
	height: 15px;
	width: 100%;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #ffffff;
	line-height: 15px;
}

.footerBottomRightBox{
	float: right;
	width: 590px;
	height: 295px;
	padding-left: 50px;
	padding-top: 85px;
}
.footerBottomRightMeun{
	float: right;
	width: 145px;
	height: auto;
	margin-left: 65px;
}
.footerBottomRightMeunTitle{
	height: 14px;
	width: 145px;
	line-height: 14px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	padding-bottom: 16px;
	border-bottom: 2px solid #ffffff;

	margin-bottom: 20px;
}
.footerBottomRightMeunContent{
	height: auto;
	width: 200px;

}
.footerBottomRightMeunContent li{
	height: 14px;
	width: auto;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #ffffff;
	line-height: 14px;
	margin-bottom: 15px;

}
.footerBottomRightMeunContent li a{
	color: #ffffff;
	text-decoration: none;

}
/* footerBottom end */
/* footer end */

.swiper-slide{
	width:100%;
	height:auto;
}
/*.swiper-slide .swiper-slide-active{*/
/*	height: auto;*/
/*}*/
.swiper-pagination{
	position: static;
}

.swiper-pagination .swiper-pagination-bullet{
	float: left;
	width: 166px;
	height: 36px;
	margin-right: 15px;
	background-color: white;
	list-style: none;
	border: 2px solid;
	color: #E05E9E;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	border-radius:0;
	opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet:first-child{
	position: relative;
}


.swiper-pagination .swiper-pagination-bullet-active{
	float: left;
	width: 166px;
	height: 36px;
	margin-right: 15px;
	background-color: #E05E9E;
	list-style: none;
	border: 2px solid;
	color: #ffffff;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
}